{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="{% static "img/carousel/c_1.jpg" %}" alt="First slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>SENEX Cycles</h1>

                    <p>Pure, race inspired titanium bicycles.</p>

                    <p><a class="btn btn-lg btn-primary" href="/shop/" role="button">Shop</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="{% static "img/carousel/c_2.jpg" %}" alt="Second slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Custom</h1>

                    <p>Complete SENEX bikes come in all sorts of varieties. Always wanted a green bike? We can make
                        that happen.</p>

                    <p><a class="btn btn-lg btn-primary" href="/shop/" role="button">Customize</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="{% static "img/carousel/c_3.jpg" %}" alt="Third slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Attention to detail.</h1>

                    <p>SENEX frames come with CNC machined head badges, etched logo, replaceable derailleur hangers,
                        and tapered headtubes.</p>

                    <p><a class="btn btn-lg btn-primary" href="/gallery/" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endblock %}
